body {
  font-family: sans-serif;
  display: flex;
  text-align: center;
  background-color: white;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.color-button {
  border: none;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 30px;
  color: rgb(38, 36, 36);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-button:hover {
  transform: scale(1.2);
}

.preview-box {
  width: 150px;
  height: 150px;
  justify-content: center;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
}

.reset-button {
  padding: 7px 30px;
  margin-top: 5px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 100px;
}

.reset-button:hover {
  background-color: rgb(182, 221, 252);
}
